@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
.spotify-player-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  padding: 1rem;
}

.player-controls {
  display: flex;
  justify-content: center;
  /* gap: 1.5rem; */
  margin-bottom: 1rem;
}

.player-icon {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.player-icon:hover {
  transform: scale(1.1);
}

.album-art {
  display: flex;
  justify-content: center;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
}

