@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.spotify-player-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  padding: 1rem;
}

.player-controls {
  display: flex;
  justify-content: center;
  /* gap: 1.5rem; */
  margin-bottom: 1rem;
}

.player-icon {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.player-icon:hover {
  transform: scale(1.1);
}

.album-art {
  display: flex;
  justify-content: center;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
}
.dark-mode-toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 9999px; /* Fully rounded */
  background-color: #f3f4f6; /* Light mode background */
  color: #374151; /* Light mode icon color */
  transition: all 0.3s ease-in-out;
}

.dark .dark-mode-toggle {
  background-color: #1f2937; /* Dark mode background */
  color: #f9fafb; /* Dark mode icon color */
}
.custom_loader {
  width: 48px;
  height: 48px;
  border: 2px solid #14b8a6;
  border-radius: 50%;
  display: inline-block; /* use block for animation visibility */
  animation: enlarge 1s infinite ease-in-out;
}

